<!DOCTYPE html>
<head>
    <title>Lista Conferencias</title>
    <meta charset="utf-8" />
</head>

<body>

    <a href="/conferencia/{{ conf_0.uuid }}">Aula Magna (0) - {{ conf_0.titulo }}</a>
    <br>
    <a href="/conferencia/{{ conf_1.uuid }}">Sala 1 - {{ conf_1.titulo }}</a>
    <br>
    <a href="/conferencia/{{ conf_2.uuid }}">Sala 2 - {{ conf_2.titulo }}</a>
    <br>
    <a href="/conferencia/{{ conf_3.uuid }}">Sala 3 - {{ conf_3.titulo }}</a>
    <br>
    <a href="/conferencia/{{ conf_4.uuid }}">Sala 4 - {{ conf_4.titulo }}</a>
    <br>
    <a href="/conferencia/{{ conf_5.uuid }}">Sala 5 - {{ conf_5.titulo }}</a>
    <br>
    <div id="Container"
     style="padding-bottom:56.25%; position:relative; display:block; width: 100%">
     <iframe id="ViostreamIframe" width="100%" height="100%" src="/conferencia/{{ conf_1.uuid }}" frameborder="0" allowfullscreen="" style="position:absolute; top:0; left: 0"></iframe>
    </div>
</body>

</html>
