body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
     font-family: 'gilroylight', Arial, sans-serif !important; 

}

.bold{
    font-weight: bolder;
    font-family: 'gilroyextrabold', Arial, sans-serif !important; 
}

/*  Menú global   */
.navbar {
    background-color: black !important;
    width: 100%;
    padding-left: 5rem !important;
    padding-right: 5rem !important;
}


.navbar .nav-link {
    text-transform: uppercase;
    font-size: 20px;
    color: white !important;
    padding-left: 1em !important;
    transition: 0.5s ease-in-out;
}

.navbar .nav-link:hover,
nav-link:active {
    color: #FFC802 !important;
}

.navbar .navbar-nav {
    margin: 0 auto;
}

.barraAvisos{
    background-color: #FFC802;
    padding: 10px 0;
     display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content:space-between;
}

.barraAvisos div{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: flex-start;
}

.barraAvisos div h3{
    margin: 0 20px 0 50px !important;
    padding: 0;
    text-align: right;
    width: 300px;
}


.bg-text-container {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    z-index: 999;
}

@keyframes text-scrolling {
    0% {
        transform: translate3d(-100%, 0, 0);
    }

    100% {
        transform: translate3d(0%, 0, 0);
    }
}

.animate-text {
    animation: text-scrolling 25s linear infinite;
    will-change: transform;
    display: block;
    position: relative;
    white-space: nowrap;
}

.animate-text.left {
    animation-direction: reverse;
}

.animate-text span {
    font-size: 3vh;
    display: inline-block;
    line-height: .85;
    min-width: auto;
}


.textoScroll {
    min-height: 3vh;
    overflow: hidden;
    position: relative;
    background: #FFC802;
    color: black;
}




.dosColumnas {
    align-items: center;
    margin: 0 auto !important;
}

.dosColumnas div {
    height: 100%;
}

.dosColumnas figure {
    width: 100%;
    height: 100%;
    margin: 0 !important;
}

.dosColumnas p {
    color: #231F20;
    max-width: 580px;
    line-height: 1.4;
    font-size: 1.2em
}

.dosColumnas h2 {
    color: #E64049;
    font-size: 4.5em;
    max-width: 680px;
    line-height: 1.1;
    padding-bottom: 0.5em;
}




.mainContent {
    background-color: white;
    padding-bottom: 4em;
}

.mainContent .nav-link.active{
    background-color: #E64049 !important;
            color: #FFF !important;

}

.mainContent .nav-link:focus, .nav-link:active{
        color: #FFF !important;

    
}
 .mainContent .nav-link{
    color: #E64049 !important;
    padding: 1.5rem 4rem !important;
     font-weight: bold;
     font-size: 1.5em;

}


.mainContent .horarioFigure{
    width: 700px;
    height: auto;   
    margin: 0 auto;
}

/* TABLES Y FONTS */

.bold{
    font-weight: bolder;
    font-family: 'gilroyextrabold', Arial, sans-serif !important; 
}

body{
 font-family: 'gilroylight', Arial, sans-serif !important; 
}

.grow{
    font-size: 1.3em; 
}


.rojo{
    color: white;
    background-color: #E64049;
}

.grey{
    background-color: #c7c7c7;
}

.darkgrey{
    background-color: #4b4b4b;
    color: white;
}


.GridTable{
    margin-bottom: 50px;
    text-align: center;
}

.GridTable div div{
    border: 1px solid black;
    padding: 10px;
}

.GridTable h5{
    font-weight: bold;
}



.speakersContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
}

.singleSpeaker {
    width: 300px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
}

.singleSpeaker h4, .singleSpeaker h5{
    text-align: center;
}

.singleSpeaker h5{
    text-align: center;
    font-weight: lighter;
}

.singleSpeaker figure img {
  max-width: 150px;
}

.singleSpeaker figure img:hover {
}

.rsSpeakers {
    width: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;

}

.rsSpeakers a:hover {
    opacity: 0.75;
}

@media (max-width: 768px) {

.dosColumnas h2 {
    font-size: 2.5em;
    max-width: 680px;
 
}

}
