body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
     font-family: 'gilroylight', Arial, sans-serif !important; 
    background: repeat center center fixed url("/static/img/fondoLogin.svg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #E74729;

}

.bold{
    font-weight: bolder;
    font-family: 'gilroyextrabold', Arial, sans-serif !important; 
}


/*  Menú global   */
.navbar {
    background-color: black !important;
    width: 100%;
    padding-left: 5rem !important;
    padding-right: 5rem !important;
}


.nav-link {
    text-transform: uppercase;
    font-size: 20px;
    color: white !important;
    padding-left: 1em !important;
    transition: 0.5s ease-in-out;
}

.nav-link:hover,
nav-link:active {
    color: #FFC802 !important;
}

.navbar-nav {
    margin: 0 auto;
}

.barraAvisos{
    background-color: #FFC802;
    padding: 10px 0;
     display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content:space-between;
}

.barraAvisos div{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: flex-start;
}

.barraAvisos div h3{
    margin: 0 20px 0 50px !important;
    padding: 0;
    text-align: right;
    width: 300px;
}


.bg-text-container {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    z-index: 999;
}

@keyframes text-scrolling {
    0% {
        transform: translate3d(-100%, 0, 0);
    }

    100% {
        transform: translate3d(0%, 0, 0);
    }
}

.animate-text {
    animation: text-scrolling 25s linear infinite;
    will-change: transform;
    display: block;
    position: relative;
    white-space: nowrap;
}

.animate-text.left {
    animation-direction: reverse;
}

.animate-text span {
    font-size: 3vh;
    display: inline-block;
    line-height: .85;
    min-width: auto;
}


.textoScroll {
    min-height: 3vh;
    overflow: hidden;
    position: relative;
    background: #FFC802;
    color: black;
}





.mapContainer {
width: 100%;
max-width: 1900px;
height: auto;
margin: 0 auto;
}


.hover_group {
    transition: 0.4s ease-in-out;

}

.hover_group:hover {
    opacity: 1;
}

#projectsvg {
  width: 100%;
     position: relative;
    margin: 0 0 !important;
/*
     
    width: 100%;
    height: auto;
    padding-bottom: 35%;
    vertical-align: middle;
    margin: 0;
    overflow: hidden;
*/
}

#projectsvg svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}



.menuExplicit{
    display: none;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
       
}

.menuExplicit a{
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 1.8rem;
    text-decoration: none;
    transition: 1s;
    font-weight: bold;
    border: 1px solid #FAC14D;
}

.menuExplicit a:hover{
    color: #1c1a1a;
    background-color: #FAC14D;
    padding: 10px 20px;
    text-align: center;
    font-size: 1.8rem;
    text-decoration: none;
}



footer {
    background-color: black;
    width: 100%;
    height: 200px;

}


@media (max-width: 768px) {
    .menuExplicit{
        display: flex;
        opacity: 1;
        pointer-events:all;
  
    }
    
    .menuExplicit a{
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
    transition: 1s;
    font-weight: bold;
    border: 1px solid #FAC14D;
}
    
}
