.dosColumnas {
    align-items: center;
    margin: 0 auto !important;
}

.dosColumnas div {
    height: 100%;
}

.dosColumnas figure {
    width: 100%;
    height: 100%;
    margin: 0 !important;
}

.dosColumnas p {
    color: #231F20;
    max-width: 580px;
    line-height: 1.4;
    font-size: 1.2em
}

.dosColumnas h2 {
    color: #E64049;
    font-size: 4.5em;
    max-width: 680px;
    line-height: 1.1;
    padding-bottom: 0.5em;
}


#speakers {
    background-color: #FFF;
}

#speakers h2 {
    margin: 0 auto;
    font-size: 3em;
    text-align: center;
    margin-bottom: 50px;
    background-color: #E64049;
    color: white;
    padding: 25px;

}

.titleSpeakers {
    width: 100%;
}

.titleSpeakers img {
    width: 99%;
}


.speakersContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
}

.singleSpeaker {
    width: 300px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
}

.singleSpeaker h4, .singleSpeaker h5{
    text-align: center;
}

.singleSpeaker h5{
    text-align: center;
    font-weight: lighter;
}

.singleSpeaker figure img {
  max-width: 150px;
}

.singleSpeaker figure img:hover {
}

.rsSpeakers {
    width: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;

}

.rsSpeakers a:hover {
    opacity: 0.75;
}