body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
     font-family: 'gilroylight', Arial, sans-serif !important; 
       background-color: #E64049 !important;

}

.bold{
    font-weight: bolder;
    font-family: 'gilroyextrabold', Arial, sans-serif !important; 
}

/*  Menú global   */
.navbar {
    background-color: black !important;
    width: 100%;
    padding-left: 5rem !important;
    padding-right: 5rem !important;
}


.navbar .nav-link {
    text-transform: uppercase;
    font-size: 20px;
    color: white !important;
    padding-left: 1em !important;
    transition: 0.5s ease-in-out;
}

.navbar .nav-link:hover,
nav-link:active {
    color: #FFC802 !important;
}

.navbar .navbar-nav {
    margin: 0 auto;
}

.barraAvisos{
    background-color: #FFC802;
    padding: 10px 0;
     display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content:space-between;
}

.barraAvisos div{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: flex-start;
}

.barraAvisos div h3{
    margin: 0 20px 0 50px !important;
    padding: 0;
    text-align: right;
    width: 300px;
}


.bg-text-container {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    z-index: 999;
}

@keyframes text-scrolling {
    0% {
        transform: translate3d(-100%, 0, 0);
    }

    100% {
        transform: translate3d(0%, 0, 0);
    }
}

.animate-text {
    animation: text-scrolling 25s linear infinite;
    will-change: transform;
    display: block;
    position: relative;
    white-space: nowrap;
}

.animate-text.left {
    animation-direction: reverse;
}

.animate-text span {
    font-size: 3vh;
    display: inline-block;
    line-height: .85;
    min-width: auto;
}


.textoScroll {
    min-height: 3vh;
    overflow: hidden;
    position: relative;
    background: #FFC802;
    color: black;
}




.dosColumnas {
    align-items: center;
    margin: 0 auto !important;
    height: auto;
}

.dosColumnas div {
    height: 100%;
}

.dosColumnas p {
    color: #231F20;
    max-width: 580px;
    line-height: 1.2;
    font-size: 1.3em;
}

.dosColumnas h2 {
    color: #fff;
    font-size: 3.5em;
    max-width: 680px;
    line-height: 1.1;
}

.dosColumnas .nav-link{
    padding: 0;
    color:white;
}

.embeds{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 60vh;
    height: 800px;
    width: 100%;
    justify-content: center;
    background-color: black;
}

#containerVideo{
   padding-bottom:10%; 
    position:relative; 
    display:block; 
    max-width: 60%;
    height: 800px;
}

#chat{
    position:relative; 
    display:block; 
    height: 800px;
    min-width: 420px;
}

.decoTecho{
background: url("/static/img/techo_sala.jpg") no-repeat center center;
    height: 200px;
    width: 100%;
    
}

.decoPublico{
background: url("/static/img/publico_sala3.jpg") no-repeat center center;
    height: 400px;
    width: 100%;
    
}
