<html>

<head>
    <link rel="stylesheet" href="/static/css/expo_stylesheet.css" />
    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/fonts/fontstylesheet.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    
    <!--    SCROLLING TEXT-->
    <script src="https://cdn.jsdelivr.net/npm/node-marquee@1.0.15/dist/cdn/index.min.js" crossorigin="anonymous"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>EXPO / AMEPSO - IBERO 2021 / XVIII CONGRESO MEXICANO DE PSICOLOGÍA SOCIAL. </title>
</head>

<body>


 <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
        <div class="container-fluid">
            <div class="col-2">
                <a class="navbar-brand" href="/">
                    <img src="/static/img/Logo_IberoEducacion.png" height="40" alt="">
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse col-8" id="navbarToggler">
                <ul class="navbar-nav me-auto extended">
                    <li class="nav-item">
                        <a class="nav-link" href="/">LOBBY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/horarios">PROGRAMA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://ibero.mx/sites/all/themes/ibero/descargables/publicaciones/psicologia_social_mexicana.pdf" download target="_blank">LIBRO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/expo">EXPO</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            SALAS
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/conferencia/sala/0">AULA MAGNA</a></li>
                            <li><a class="dropdown-item" href="/conferencia/sala/1">SALA 1</a></li>
                            <li><a class="dropdown-item" href="/conferencia/sala/2">SALA 2</a></li>
                            <li><a class="dropdown-item" href="/conferencia/sala/3">SALA 3</a></li>
                            <li><a class="dropdown-item" href="/conferencia/sala/4">SALA 4</a></li>
                            <li><a class="dropdown-item" href="/conferencia/sala/5">SALA 5</a></li>
                        </ul>
                    </li>
                </ul>


            </div>
        </div>
    </nav>

    <div class="barraAvisos fixed-bottom">
        <div><h3 class="bold">EN VIVO AHORA:</h3>
            <div class="marquee">
            <h4><span id="envivo">?<span> </h4>
                </div>
                </div>
    </div>


    <div class="dosColumnas row g-12 mainContent container">
        <div class="col-lg align-middle libro">
            <img src="/static/img/Libro-PSM.png">
        </div>
        <div class="col-lg p-5 libro">
            <h2 class="bold">Psicología social mexicana</h2>
            <p>
                Carolina Armenta Hurtarte <br>Alejandra del Carmen Domínguez Espinosa<br>Cinthia Cruz del Castillo<br><b>compiladoras</b>
            </p>
            <a class="btn btn-danger" href="https://ibero.mx/sites/all/themes/ibero/descargables/publicaciones/psicologia_social_mexicana.pdf" download role="button">Descargar libro</a>


        </div>
    </div>



    <div class="container mainContent">
        <ul class="nav nav-pills mb-3 pagination-lg justify-content-center" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Día 1</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Día 2</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Día 3</button>
            </li>
        </ul>


        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">


                <h3> Sala 1</h3>

                <div class="speakersContainer">

                    {% for c in carteles %}
                        {{ c }}
                    {% endfor %}

                </div>



                </div>


            </div>

            </div>
            </div>







            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <figure type="button" class="btn horarioFigure" data-bs-toggle="modal" data-bs-target="#exampleModal2"><img class="img-fluid" src="../static/img/PROGRAMA%20FINAL%20V-9%20AGOSTO%202021_Pa%CC%81gina_11.jpg"></figure>


                <!-- Modal -->
                <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">

                            <div class="modal-body">
                                <figure><img class="img-fluid" src="../static/img/PROGRAMA%20FINAL%20V-9%20AGOSTO%202021_Pa%CC%81gina_11.jpg"></figure>
                            </div>

                        </div>
                    </div>
                </div>



            </div>





        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <figure type="button" class="btn horarioFigure" data-bs-toggle="modal" data-bs-target="#exampleModal2"><img class="img-fluid" src="../static/img/PROGRAMA%20FINAL%20V-9%20AGOSTO%202021_Pa%CC%81gina_11.jpg"></figure>


            <!-- Modal -->
            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">

                        <div class="modal-body">
                            <figure><img class="img-fluid" src="../static/img/PROGRAMA%20FINAL%20V-9%20AGOSTO%202021_Pa%CC%81gina_11.jpg"></figure>
                        </div>

                    </div>
                </div>
            </div>



        </div>

    </div>









</body>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script>
    function cargarEnVivo(){
        var client = new XMLHttpRequest();
        client.open('GET', '/conferencia/envivo');
        client.onreadystatechange = function() {
            if (client.readyState === 4){
                document.getElementById("envivo").textContent=client.responseText;
            }
        }
        client.send();
        setTimeout(cargarEnVivo, 5000);
    }
    window.onload = function () {
        cargarEnVivo();

    }
</script>
    
     <!--    SCROLLING TEXT-->
        <script>
        
 nodeMarquee({
  selector: "h4",
  speed: 2
});

            
        </script>
</html>
