<head>
    <link rel="stylesheet" href="/static/css/lobby_stylesheet.css" />
    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/fonts/fontstylesheet.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">



    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

       <title>IBERO | MACRO CLAUSURA VIRTUAL DE DIPLOMADOS</title>

</head>

<body>

        <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
        <div class="container-fluid">
            <div class="col-2">
                <a class="navbar-brand" href="/">
                    <img src="/static/img/logo_IberoEducacion_Blanco.png" height="40" alt="">
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse col-8" id="navbarToggler">
                <ul class="navbar-nav me-auto extended">
                    <li class="nav-item">
                        <a class="nav-link" href="/">LOBBY</a>
                    </li>


                     <li class="nav-item">
                        <a class="nav-link" href="/informacion">INFORMACIÓN</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            SALAS
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/conferencia/sala/1">SALA 1</a></li>
                            <li><a class="dropdown-item" href="/conferencia/sala/2">SALA 2</a></li>
                           
                        </ul>
                    </li>

                     <li class="nav-item">
                        <a class="nav-link" href="/accounts/logout">SALIR</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>





    <div class="mapContainer">
        <figure id="projectsvg">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 2498 1406" style="enable-background:new 0 0 2498 1406;" preserveAspectRatio="xMidYMid meet">

                <image width="100%" height="100%" xlink:href="/static/img/RenderBackground3.jpg"></image>

<!--
                <g class="hover_group" opacity="0">
                    <a xlink:href="/conferencia/sala/1">
                        <polygon class="st0" points="495.98,977.38 635.89,957.98 635.89,778.23 495.98,787.43 " opacity="0.3" fill="#FFFFFF" />
                    </a>
                </g>
-->
                <g class="hover_group" opacity="0">
                    <a xlink:href="/conferencia/sala/1">
                        <polygon class="st0" points="771.72,776.23 920.83,773.13 920.83,935.51 771.72,947.77 " opacity="0.3" fill="#FFFFFF" />
                    </a>
                </g>
               <!-- <g class="hover_group" opacity="0">
                    <a xlink:href="/conferencia/sala/0">

<rect x="1068.91" y="687.34" class="st0" width="354.38" height="243.06" opacity="0.3" fill="#FFFFFF" />
                    </a>
                </g>
  -->

                <g class="hover_group" opacity="0">
                    <a xlink:href="/conferencia/sala/2">
                        <polygon class="st0" points="1564.23,773.13 1706.19,778.23 1706.19,941.64 1564.23,933.47 " opacity="0.3" fill="#FFFFFF" />
                    </a>
                </g>
                
                <!--
                <g class="hover_group" opacity="0">
                    <a xlink:href="/conferencia/sala/4">
                        <polygon class="st0" points="1848.15,782.32 1982.96,787.43 1982.96,974.32 1848.15,955.94 " opacity="0.3" fill="#FFFFFF" />
                    </a>
                </g>
-->

 

                <g class="hover_group" opacity="0">
                    <a xlink:href="/informacion">
                        <polygon class="st0" points="1074.02,998.83 1074.02,1318.49 945.34,1292.96 945.34,990.66 " opacity="0.3" fill="#FFFFFF" />
                    </a>
                </g>

                   <g class="hover_group" opacity="0">
                    <a data-bs-toggle="modal" data-bs-target="#videoModal" xlink:href="#">
                        <rect x="1048.49" y="344.19" class="st0" width="331.91" height="229.79" opacity="0.3" fill="#000" />
                    </a>
                </g>




            </svg>
        </figure>
    </div>


    <div class="menuExplicit">
        <a href="/informacion">Información</a>
        <a href="/conferencia/sala/1">Sala 1</a>
        <a href="/conferencia/sala/2">Sala 2</a>


    </div>


    <!-- Modal Video -->
<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content ratio ratio-16x9">
      <div class="modal-body">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/tZFA-w3rI1I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>


</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script>
    var myModal = new bootstrap.Modal(document.getElementById('videoModal'))
    {% if inicio %}
        myModal.show()
    {% endif %}
</script>
