<html>

<head>
    <link rel="stylesheet" href="/static/css/horarios_stylesheet.css" />
    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/fonts/fontstylesheet.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">



    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>PROGRAMA / AMEPSO - IBERO 2021 / XVIII CONGRESO MEXICANO DE PSICOLOGÍA SOCIAL. </title>
</head>

<body>


       <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
        <div class="container-fluid">
            <div class="col-2">
                <a class="navbar-brand" href="/">
                    <img src="/static/img/Logo_IberoEducacion.png" height="40" alt="">
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse col-8" id="navbarToggler">
                <ul class="navbar-nav me-auto extended">
                    <li class="nav-item">
                        <a class="nav-link" href="/">LOBBY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/horarios">PROGRAMA</a>
                    </li>

                     <li class="nav-item">
                        <a class="nav-link" href="/informacion">INFORMACIÓN</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            SALAS
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/conferencia/sala/0">AULA MAGNA</a></li>
                            <li><a class="dropdown-item" href="/conferencia/sala/1">SALA 1</a></li>
                            <li><a class="dropdown-item" href="/conferencia/sala/2">SALA 2</a></li>
                            <li><a class="dropdown-item" href="/conferencia/sala/3">SALA 3</a></li>
                            <li><a class="dropdown-item" href="/conferencia/sala/4">SALA 4</a></li>
                            <li><a class="dropdown-item" href="/conferencia/sala/5">SALA 5</a></li>
                        </ul>
                    </li>
                      <li class="nav-item">
                        <a class="nav-link" href="https://ibero.mx/sites/all/themes/ibero/descargables/publicaciones/psicologia_social_mexicana.pdf" download target="_blank">LIBRO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/expo">EXPO</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/accounts/logout">SALIR</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

   <div class="barraAvisos fixed-bottom">
        <div>
            <h3 class="bold">EN VIVO AHORA: </h3>
            <div class="textoScroll bg-text-container">

                <h4 class='animate-text left'> <span id="envivo" >Por el momento no hay conferencias en vivo. Por el momento no hay conferencias en vivo. Por el momento no hay conferencias en vivo.</span> </h4>
                </div>
                </div>
    </div>


    <div class="dosColumnas row g-12 mainContent container">
            <div class="col-lg ">
                <figure><img class="img-fluid" src="/static/img/Deco_1.jpg"></figure>
            </div>
            <div class="col-lg p-5 align-middle">
                <h2 class="bold">PROGRAMA</h2>
                <p>El evento tiene como finalidad difundir la investigación contemporánea que aborda las problemáticas actuales que se experimentan en México a través de los ejes culturales, sociales y relaciones interpersonales generando espacios de discusión y colaboración académica entre estudiantes e investigadores.
                Programa sujeto a cambios sin previo aviso.
                </p>
            </div>
        </div>



    <div class="container mainContent">
        <ul class="nav nav-pills mb-3 pagination-lg justify-content-center" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Día 1</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Día 2</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Día 3</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-ponentes-tab" data-bs-toggle="pill" data-bs-target="#pills-ponentes" type="button" role="tab" aria-controls="pills-ponentes" aria-selected="false">Algunos Ponentes</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">


                   <div class="container GridTable">
        <div class="row rojo bold grow">
            <div class="col-2">
                HORA
            </div>
            <div class="col">
                PONENCIA
            </div>
        </div>

        <div class="row">
            <div class="col-2 grow bold darkgrey">
                8:00 - 8:30
            </div>
            <div class="col grey bold grow">
                <p>Inauguración</p>
            </div>
        </div>

        <div class="row">
            <div class="col-2 grow bold darkgrey">
                8:30 - 10:00
            </div>
            <div class="col grey bold grow">
                <h5>Conferencia Plenaria</h5>
                <p>Public Health Communications during the COVID-19 Pandemic</p>
                <p>Dra. Dolores Albarracín</p>
            </div>
        </div>


        <div class="row">
            <div class="col-2 grow bold darkgrey">
                10:00 - 12:00
            </div>
            <div class="col">
                <h5>Simposio 1</h5>
                Desarrollo positivo de los jóvenes.
            </div>
             <div class="col">
                <h5>Simposio 2</h5>
                Salud y sexualidad en poblaciones vulnerables.
            </div>
             <div class="col">
                <h5>Simposio 3</h5>
                Cultura y psicología: Herramientas metodológicas y salud.
            </div>
             <div class="col">
                <h5>Simposio 4</h5>
                Estudios sobre las violencias en mujeres.
            </div>
             <div class="col">
                <h5>Simposio 5</h5>
                Influencias familiares.
            </div>
        </div>

        <div class="row">
            <div class="col-2 grow bold darkgrey">
                12:00 - 13:00
            </div>
            <div class="col">
                <h5>Sesión de carteles 1</h5>
                Trastornos alimentarios.
            </div>
             <div class="col">
                <h5>Sesión de carteles 2</h5>
                Ámbitos escolares.
            </div>
             <div class="col">
                <h5>Sesión de carteles 3</h5>
                Anatomía Social.
            </div>
             <div class="col">
                <h5>Sesión de carteles 4</h5>
                Indefensión
            </div>
             <div class="col">
                <h5>Sesión de carteles 5</h5>
                Familia.
            </div>
        </div>

        <div class="row">
            <div class="col-2 grow bold darkgrey">
                13:00 - 14:00
            </div>
            <div class="col grey bold grow">
                <h5>Conferencia Magistral 1</h5>
                <p>La investigación psicosocial como detonadora de políticas públicas.</p>
                <p>Dr. Luis Felipe García y Barragán</p>
            </div>
            <div class="col grey bold grow">
                <h5>Conferencia Magistral 2</h5>
                <p>Prácticas parentales: Dos décadas de investigación.</p>
                <p>Dra. Patricia Andrade Palos</p>
            </div>
        </div>

                <div class="row">
            <div class="col-2 grow bold darkgrey">
                14:00 - 15:30
            </div>
            <div class="col">
                <h5>Simposio 1</h5>
                Relaciones de pareja, emociones y su vinculación con la salud.
            </div>
             <div class="col">
                <h5>Simposio 2</h5>
                Promoción y desarrollo de habilidades para favorecer el aprendizaje.
            </div>
             <div class="col">
                <h5>Simposio 3</h5>
                Masculinidades.
            </div>
             <div class="col">
                <h5>Simposio 4</h5>
                Análisis del consumo desde la psicología social.
            </div>
             <div class="col">
                <h5>Simposio 5</h5>
               La psicología social en la frontera norte de México.
            </div>
                    <div class="col">
                <h5>Simposio 6</h5>
               Las aristas de las juventudes.
            </div>
        </div>

        <div class="row">
            <div class="col-2 grow bold darkgrey">
                15:30 - 17:00
            </div>
            <div class="col grey bold grow">
                <h5>Conferencia Plenaria</h5>
                <p>Sexual fluidity: Revolutionazing our understanding of human sexuality.</p>
                <p>Dra. Lisa Diamond</p>
            </div>
        </div>

         <div class="row">
            <div class="col-2 grow bold darkgrey">
                17:00 - 19:00
            </div>
            <div class="col">
                <h5>Simposio 1</h5>
                Análisis de la sexualidad vivida por mujeres.
            </div>
             <div class="col">
                <h5>Simposio 2</h5>
                Actividad física y salud.
            </div>
             <div class="col">
                <h5>Simposio 3</h5>
                La Terapia Cognitivo Conductual en las problemáticas sociales en el Noreste de México.
            </div>
             <div class="col">
                <h5>Simposio 4</h5>
                Costos y beneficios de la interacción de pareja.
            </div>
        </div>
    </div>



                        </div>







            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">


                  <div class="container GridTable">
        <div class="row rojo bold grow">
            <div class="col-2">
                HORA
            </div>
            <div class="col">
                PONENCIA
            </div>
        </div>

        <div class="row">
            <div class="col-2 grow bold darkgrey">
                8:00 - 10:00
            </div>
            <div class="col">
                <h5>Simposio 1</h5>
                 <h4 class="red">S1</h4>
                Resiliencia, salud y bienestar.
            </div>
            <div class="col">
                <h5>Simposio 2</h5>
                                 <h4 class="red">S2</h4>

                La vida académica de universitarios: Dificultades y recursos psicológicos con que enfrentan.
            </div>
            <div class="col">
                <h5>Simposio 3</h5>
                                 <h4 class="red">S3</h4>

                Emociones y valores
            </div>
            <div class="col">
                <h5>Simposio 4</h5>
                                 <h4 class="red">S4</h4>

                Percepción sociocultural de las identidades culturales
            </div>
            <div class="col">
                <h5>Simposio 5</h5>
                                 <h4 class="red">S5</h4>

                Grupos vulnerables y satisfacción con la vida
            </div>

        </div>

        <div class="row">
    <div class="col-2 grow bold darkgrey">
        10:00 - 11:30
    </div>
            <div class="col grey bold grow">
                <h5>Conferencia Plenaria</h5>
                                 <h4 class="red">Aula Magna</h4>

                <p>Factores subyacentes a las actitudes sobre los inmigrantes y que favorecen a las mujeres inmigrantes Latinas.</p>
                <p>Dr. Roque Mendez</p>
        </div>

        </div>

                       <div class="row">
    <div class="col-2 grow bold darkgrey">
        11:30 - 12:30
    </div>
                    <div class="col grey bold grow">
                <h5>Conferencia Plenaria</h5>
                                         <h4 class="red">Aula Magna</h4>

                <p>When men behave badly: Sexual deception, harassment, and assault.</p>
                <p>Dr. David Buzz</p>
        </div>

    </div>
                      <div class="row">
            <div class="col-2 grow bold darkgrey">
                12:30 - 13:30
            </div>
            <div class="col">
                <h5>Sesión de carteles 1</h5>
                                 <h4 class="red">S1</h4>

                Sexualidades.
            </div>
             <div class="col">
                <h5>Sesión de carteles 2</h5>
                                  <h4 class="red">S2</h4>

                Ámbitos escolares.
            </div>
             <div class="col">
                <h5>Sesión de carteles 3</h5>
                                  <h4 class="red">S3</h4>

                Pareja.
            </div>
             <div class="col">
                <h5>Sesión de carteles 4</h5>
                                  <h4 class="red">S4</h4>

                Conducta prosocial.
            </div>
             <div class="col">
                <h5>Sesión de carteles 5</h5>
                                  <h4 class="red">S5</h4>

                Salud.
            </div>
        </div>

                      <div class="row">
    <div class="col-2 grow bold darkgrey">
        13:30 - 15:00
    </div>
                    <div class="col grey bold grow">
                <h5>Conferencia Plenaria</h5>
                                         <h4 class="red">Aula Magna</h4>

                <p>Migración centro americana en México: Determinantes sociales y salud mental.</p>
                <p>Dra. María Elena Medina Mora</p>
        </div>

    </div>

                           <div class="row">
            <div class="col-2 grow bold darkgrey">
                15:00 - 16:00
            </div>
            <div class="col grey bold grow">
                <h5>Conferencia Magistral 1</h5>
                                 <h4 class="red">S1</h4>

                <p>Asertividad: Estudios en el contexto mexicano.</p>
                <p>Dra. Mirta Margarita Flores Galaz</p>
            </div>
            <div class="col grey bold grow">
                <h5>Conferencia Magistral 2</h5>
                                 <h4 class="red">S2</h4>

                <p>La psicología ante los retos de los objetivos de desarrollo sostenible.</p>
                <p>Dra. Marta Givaudan Moreno</p>
            </div>
        </div>

                      <div class="row">
            <div class="col-2 grow bold darkgrey">
                16:00 - 18:30
            </div>
            <div class="col">
                <h5>Simposio 1</h5>
                                 <h4 class="red">S1</h4>
                Desarrollo del comportamiento sustentable en México.
            </div>
            <div class="col">
                <h5>Simposio 2</h5>
                                 <h4 class="red">S2</h4>
                La pareja: Medición, interacción y significados.
            </div>
            <div class="col">
                <h5>Simposio 3</h5>
                                 <h4 class="red">S3</h4>
                Trastornos de la conducta alimentaria y obesidad.
            </div>
            <div class="col">
                <h5>Simposio 4</h5>
                                 <h4 class="red">S4</h4>
                Alimentación, creencias y significados en torno a la obesidad y sobrepeso.
            </div>
            <div class="col">
                <h5>Simposio 5</h5>
                                 <h4 class="red">S5</h4>
                Salud en el ámbito laboral.
            </div>
        </div>





                      </div>
 </div>



            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">

                    <div class="container GridTable">

                         <div class="row rojo bold grow">
            <div class="col-2">
                HORA
            </div>
            <div class="col">
                PONENCIA
            </div>
        </div>

        <div class="row">
            <div class="col-2 grow bold darkgrey">
                8:00 - 9:30
            </div>
            <div class="col">
                <h5>Simposio 1</h5>
                 <h4 class="red">S1</h4>
                Miradas en torno a las masculinidades.
            </div>
            
            <div class="col">
                <h5>Simposio 2</h5>
                 <h4 class="red">S2</h4>
                Unidos por la salud migrante: Intentos de incidencia de Centroamérica al Norte, pasando por México.
            </div>
            <div class="col">
                <h5>Simposio 3</h5>
                 <h4 class="red">S3</h4>
                Dimensiones psicoemocionales en la adultez.
            </div>
            <div class="col">
                <h5>Simposio 4</h5>
                 <h4 class="red">S4</h4>
                Embarazo y sexualidad adolescente en México.
            </div>
            <div class="col">
                <h5>Simposio 5</h5>
                 <h4 class="red">S5</h4>
                Cultura y relaciones interpersonales: Su impacto en el bienestar.
            </div>
            <div class="col">
                <h5>Simposio 6</h5>
                 <h4 class="red">Aula Magna</h4>
                Implicaciones de la crianza.
            </div>

            

        </div>

                        <div class="row">
    <div class="col-2 grow bold darkgrey">
        9:30 - 10:30
    </div>
            <div class="col grey bold grow">
                <h5>Homenaje a las mujeres de la psicología social mexicana</h5>
                                 <h4 class="red">Aula Magna</h4>

                <p>Dra. Lucy Reidl Martínez y Dra. Isabel Reyes Lagunes.</p>
        </div>

        </div>

                          <div class="row">
    <div class="col-2 grow bold darkgrey">
        10:30 - 12:00
    </div>
            <div class="col grey bold grow">
                <h5>Conferencia Plenaria</h5>
                                 <h4 class="red">Aula Magna</h4>

                <p>Retrospective on loneliness.</p>
                <p>Dr. Dan Perlman</p>

        </div>

        </div>

                        <div class="row">
            <div class="col-2 grow bold darkgrey">
                12:00 - 14:30
            </div>
            <div class="col">
                <h5>Simposio 1</h5>
                                 <h4 class="red">S1</h4>

                Repensando la materninad, identidad, rol y subversión.
            </div>
            <div class="col">
                <h5>Simposio 2</h5>
                                 <h4 class="red">S2</h4>

                Innovación y evaluación en la psicología de la salud.
            </div>
            <div class="col">
                <h5>Simposio 3</h5>
                                 <h4 class="red">S3</h4>

                Las interacciones familiares relacionadas con la salud de sus integrantes.
            </div>
            <div class="col">
                <h5>Simposio 4</h5>
                                 <h4 class="red">S4</h4>

                Factores de Riesgo y Protectores a la Salud en Parejas con Diabetes.
            </div>
            <div class="col">
                <h5>Simposio 5</h5>
                                 <h4 class="red">S5</h4>

                Salud y sexualidad.
            </div>


        </div>

                        <div class="row">
            <div class="col-2 grow bold darkgrey">
                14:30 - 15:30
            </div>
            <div class="col grey bold grow">
                <h5>Conferencia Magistral 1</h5>
                                 <h4 class="red">S1</h4>

                <p>Innovación en psicología de la salud pasado, presente y futuro.</p>
                <p>Dra. Fuensanta López Rosales</p>
            </div>
            <div class="col grey bold grow">
                <h5>Conferencia Magistral 2</h5>
                                 <h4 class="red">S2</h4>

                <p>La medición psicológica en la era digital.</p>
                <p>Dra. Alejandra del Carmen Dominguez Espinosa</p>
            </div>
        </div>

                        <div class="row">
    <div class="col-2 grow bold darkgrey">
        15:30 - 17:00
    </div>
            <div class="col grey bold grow">
                <h5>Conferencia Plenaria</h5>
                                 <h4 class="red">Aula Magna</h4>

                <p>El uso de los medios de comunicación como herramientas para la difusión de la investigación.</p>
                <p>Dr. Ricardo Ainsle</p>

        </div>

        </div>


                        <div class="row">
            <div class="col-2 grow bold darkgrey">
                17:00 - 19:00
            </div>
            <div class="col">
                <h5>Simposio 1</h5>
                <h4 class="red">S1</h4>
                Reconfiguraciones de la sexualidad.
            </div>
            <div class="col">
                <h5>Simposio 2</h5>
                <h4 class="red">S2</h4>
                Salud Mental.
            </div>
            <div class="col">
                <h5>Simposio 3</h5>
                <h4 class="red">S3</h4>
                Violencia: El individuo, sociedad y cultura.
            </div>
            <div class="col">
                <h5>Simposio 4</h5>
                <h4 class="red">S4</h4>
                Salud mental en jóvenes.
            </div>
            <div class="col">
                <h5>Simposio 5</h5>
                <h4 class="red">S5</h4>
                Desempeño y habilidades en ámbitos escolares.
            </div>


        </div>



                        <div class="row">
    <div class="col-2 grow bold darkgrey">
        19:00 - 20:30
    </div>
            <div class="col grey bold grow">
                <h5>Conferencia Plenaria</h5>
                <h4 class="red">Aula Magna</h4>
                <p>Dr. David Matsumoto</p>

        </div>

        </div>
                        
                        <div class="row">
    <div class="col-2 grow bold darkgrey">
        20:30 - 21:00
    </div>
            <div class="col grey bold grow">
                <h5>Clausura</h5>
                <h4 class="red">Aula Magna</h4>

        </div>

        </div>





                </div>
            </div>


            <div class="tab-pane fade" id="pills-ponentes" role="tabpanel" aria-labelledby="pills-ponentes-tab">


                <div class="speakersContainer">


                <div class="singleSpeaker">
                    <figure><img class="img-fluid" src="../static/img/Ponentes/MirtaFlores.png"></figure>
                    <h4 class="bold">Mirta Flores</h4>
                    <h5 class="light">Universidad Autónoma de Yucatán</h5>

                    <div class="rsSpeakers">
                        <a href="https://www.researchgate.net/profile/Mirta-Galaz" target="_blank"><img class="img-fluid" src="../static/img/sharing-files.png"></a>
                    </div>
                </div>

                 <div class="singleSpeaker">
                    <figure><img class="img-fluid" src="../static/img/Ponentes/AlejandraDominguez.png"></figure>
                    <h4 class="bold">Dra. Alejandra Domínguez Espinosa</h4>
                    <h5 class="light">Directora del Departamento de Psicología IBERO</h5>

                    <div class="rsSpeakers">
                        <a href="psicologia.ibero.mx/profesor/alejandra-del-carmen-dominguez-espinosa/" target="_blank"><img class="img-fluid" src="../static/img/sharing-files.png"></a>
                    </div>
                </div>

                 <div class="singleSpeaker">
                    <figure><img class="img-fluid" src="../static/img/Ponentes/LuisFelipeGarcia.png"></figure>
                    <h4 class="bold">Luis Felipe García y Barragán</h4>
                    <h5 class="light">Universidad de Guanajuato</h5>

                    <div class="rsSpeakers">
                        <a href="https://ugto.academia.edu/GarciayBarragan" target="_blank"><img class="img-fluid" src="../static/img/sharing-files.png"></a>
                    </div>
                </div>

                 <div class="singleSpeaker">
                    <figure><img class="img-fluid" src="../static/img/Ponentes/DoloresAlbarracin.png"></figure>
                    <h4 class="bold">Dolores Albarracín</h4>
                    <h5 class="light">University of Illinois Urbana-Champaign</h5>

                    <div class="rsSpeakers">
                        <a href="https://psychology.illinois.edu/directory/profile/dalbarra" target="_blank"><img class="img-fluid" src="../static/img/sharing-files.png"></a>
                    </div>
                </div>
                                    <div class="singleSpeaker">
                    <figure><img class="img-fluid" src="../static/img/Ponentes/roquemendez.png"></figure>
                    <h4 class="bold">Roque V. Méndez</h4>
                    <h5 class="light">Universidad Estatal de Texas</h5>

                    <div class="rsSpeakers">

                    </div>
                </div>

                 <div class="singleSpeaker">
                    <figure><img class="img-fluid" src="../static/img/Ponentes/marthaGivaudan.png"></figure>
                    <h4 class="bold">Martha Givaudan</h4>
                    <h5 class="light">Instituto Mexicano de Investigación de Familia y Población, Mexico.</h5>

                    <div class="rsSpeakers">
                        <a href="#" target="_blank"><img class="img-fluid" src="../static/img/sharing-files.png"></a>
                    </div>
                </div>

                 <div class="singleSpeaker">
                    <figure><img class="img-fluid" src="../static/img/Ponentes/PatriciaAndrade.png"></figure>
                    <h4 class="bold">Patricia Andrade Palos</h4>
                    <h5 class="light">Universidad Nacional Autónoma de México.</h5>

                    <div class="rsSpeakers">
                        <a href="https://psicologia.posgrado.unam.mx/patricia-andrade-palos-2/" target="_blank"><img class="img-fluid" src="../static/img/sharing-files.png"></a>
                    </div>
                </div>

                 <div class="singleSpeaker">
                    <figure><img class="img-fluid" src="../static/img/Ponentes/MariaElenaMedinaMora.png"></figure>
                    <h4 class="bold">María Elena Medina Mora</h4>
                    <h5 class="light">Ponente</h5>

                    <div class="rsSpeakers">

                    </div>
                </div>

               </div>



            </div>
        </div>



    </div>









</body>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script>
    function cargarEnVivo(){
        var client = new XMLHttpRequest();
        client.open('GET', '/conferencia/envivo');
        client.onreadystatechange = function() {
            if (client.readyState === 4){
                document.getElementById("envivo").textContent=client.responseText;
            }
        }
        client.send();
        setTimeout(cargarEnVivo, 5000);
    }
    window.onload = function () {
        cargarEnVivo();

    }
</script>


</html>
