<html>

<head>
    <link rel="stylesheet" href="/static/css/expo_stylesheet.css" />
    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/fonts/fontstylesheet.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>INFORMES / AMEPSO - IBERO 2021 / XVIII CONGRESO MEXICANO DE PSICOLOGÍA SOCIAL. </title>
</head>

<body>


       <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
        <div class="container-fluid">
            <div class="col-2">
                <a class="navbar-brand" href="/">
                    <img src="/static/img/Logo_IberoEducacion.png" height="40" alt="">
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse col-8" id="navbarToggler">
                <ul class="navbar-nav me-auto extended">
                    <li class="nav-item">
                        <a class="nav-link" href="/">LOBBY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/horarios">PROGRAMA</a>
                    </li>
                  
                     <li class="nav-item">
                        <a class="nav-link" href="/informacion">INFORMACIÓN</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            SALAS
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/conferencia/sala/0">AULA MAGNA</a></li>
                            <li><a class="dropdown-item" href="/conferencia/sala/1">SALA 1</a></li>
                            <li><a class="dropdown-item" href="/conferencia/sala/2">SALA 2</a></li>
                            <li><a class="dropdown-item" href="/conferencia/sala/3">SALA 3</a></li>
                            <li><a class="dropdown-item" href="/conferencia/sala/4">SALA 4</a></li>
                            <li><a class="dropdown-item" href="/conferencia/sala/5">SALA 5</a></li>
                        </ul>
                    </li>
                      <li class="nav-item">
                        <a class="nav-link" href="https://ibero.mx/sites/all/themes/ibero/descargables/publicaciones/psicologia_social_mexicana.pdf" download target="_blank">LIBRO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/expo">EXPO</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/accounts/logout">SALIR</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="barraAvisos fixed-bottom">
        <div>
            <h3 class="bold">EN VIVO AHORA: </h3>
            <div class="textoScroll bg-text-container">

                <h4 class='animate-text left'> <span id="envivo" >Por el momento no hay conferencias en vivo. Por el momento no hay conferencias en vivo. Por el momento no hay conferencias en vivo.</span> </h4>
                </div>
                </div>
    </div>

<div class="mainContent">
    <div class="dosColumnas row g-12  container">
            <div class="col-lg ">
                <figure><img class="img-fluid" src="/static/img/Kioscos-02.png"></figure>
            </div>
            <div class="col-lg p-5 align-middle">
                <h2 class="bold">INFORMES </h2>
                <p>En caso de presentar algún problema, puedes contactarnos en los siguientes medios: </p>
                <p><b>Dinámica del evento, programa, comité académico organizador.</b><br>
                    Armenta Hurtarte Carolina al correo: <a href="mailto:carolina.armenta@ibero.mx">carolina.armenta@ibero.mx</a></p>
                <p><b>Conexión y experiencia dentro de la plataforma</b> <br>
                    Diego García Núñez al correo: <a href="mailto:dgarcia.nunez@ibero.mx">dgarcia.nunez@ibero.mx</a></p>
                <p><b>Sistema de pago, facturación, evaluación y constancia.<br></b>
                    Ariane Aguilar Rivera al correo: <a href="mailto:ariane.aguilar@ibero.mx">ariane.aguilar@ibero.mx</a>
                </p>
                
                <a data-bs-toggle="modal" data-bs-target="#videoModal" xlink:href="#" class="btn btn-danger" role="button">Chat de soporte
                    </a>
            
                
            </div>
        </div>
            
            <div class="container avisos">
            <h2 class="bold">Recomendaciones</h2>
            <ul class="listas">
                <li>Verifica tener una conexión estable de internet, pues nuestras sesiones serán en vivo. </li>
                <li>Te recomendamos usar una computadora de escritorio o laptop desde los navegadores <b>Google Chrome, Safari y Mozilla Firefox.</b></li>
                <li>Desde dispositivos móviles <b>no podrás lograr la visualización</b> de cada una de las conferencias. </li>
                <li>Para visitar el congreso virtual es importante contar con tu pago 100% completado. Si tienes alguna duda escríbenos a ariane.aguilar@ibero.mx. </li>
                <li>	Si eres presentador de alguna conferencia o trabajo, recuerda que deberás conectarte desde la plataforma Zoom a la liga proporcionada por el comité académico organizador según la asignación dentro del programa. <a href="https://amepso-ibero-2021.webnode.mx/_files/200000051-e0b6ce0b6e/PONENTE%20INSTRUCCIONES%20.pdf?ph=4e5e1bc9da" target="_blank">Consulta el instructivo aquí.</a> </li>
                <li>Los participantes/asistentes no deberán de ingresar a ninguna cuenta de Zoom, las conferencias se transmiten en cada sala según la asignación dentro del programa.</li>
                </ul>
            
            
            </div>
            
             <div class="container avisos">
            <h2 class="bold">Avisos</h2>
            <ul class="listas">
                
                <li>Las personas que realicen su inscripción y pago entre el 8, 9 y 10 de septiembre, recibirán el correo de ingreso con sus claves en un lapso de 12 horas después de la inscripción y pago.
                <li>En el caso de realizar el pago el día 10 septiembre, solo podrá revivir las memorias del evento en sesiones grabadas, disponibles a partir del 14 de septiembre.</li>
                <li>Del 10 al 16 de septiembre te enviaremos un mensaje por correo electrónico de invitación para evaluar la experiencia del evento. </li>
                 <li>
                     La entrega del 2do libro “Aportaciones a la psicología social” será publicado en las siguientes semanas.</li>
                <li>A partir del 14 de septiembre podrás revivir desde este mismo portal las memorias del congreso con los videos de las conferencias.</li>
                <li>A partir del 17 de septiembre haremos entrega de las constancias digitales de participación al congreso, de igual forma, esta llegará a tu correo electrónico. </li>
                <li>Las constancias como ponentes se enviarán a partir del 17 de septiembre, recuerda que validaremos que la ponencia sea presentada durante el congreso.</li>
                <li>Conoce más sobre la oferta de Psicología en la IBERO <a href="https://www.diplomados-ibero-blog.mx/l/formacion-con-perspectiva-psicologica-una-necesidad/">AQUÍ</a>
             </ul>
                 
            </div>
            </div>
            
            
               <!-- Modal Chat ayuda -->
<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
       <iframe src="https://deadsimplechat.com/JCDCiGMUe" width="100%" height="600px"></iframe>
      </div>
    </div>
  </div>
</div>
            
            
            </body>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script>
    function cargarEnVivo(){
        var client = new XMLHttpRequest();
        client.open('GET', '/conferencia/envivo');
        client.onreadystatechange = function() {
            if (client.readyState === 4){
                document.getElementById("envivo").textContent=client.responseText;
            }
        }
        client.send();
        setTimeout(cargarEnVivo, 5000);
    }
    window.onload = function () {
        cargarEnVivo();

    }
</script>
        
        
        
            
</html>
