<head>
    <link rel="stylesheet" href="/static/css/ponentes_stylesheet.css" />
    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/fonts/fontstylesheet.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>PONENTES / AMEPSO - IBERO 2021 / XVIII CONGRESO MEXICANO DE PSICOLOGÍA SOCIAL. </title>
</head>

<body>
    
       <div class="dosColumnas row g-12 container">
            <div class="col-lg ">
                <figure><img class="img-fluid" src="../static/img/Deco_1.jpg"></figure>
            </div>
            <div class="col-lg p-5 align-middle">
                <h2 class="bold">PONENTES</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                    a dapibus erat, ut luctus orci. Aliquam cursus turpis eu nibh
                    posuere vestibulum. Phasellus facilisis vehicula aliquet. Nam
                    et porttitor felis, aliquet tristique nulla. Etiam ac lobortis risus.
                </p>

            </div>
        </div>
    

            <div id="speakers" class="container">
            <h2>Ponentes</h2>
        
                <div class="speakersContainer">
                
                
                <div class="singleSpeaker">
                    <figure><img class="img-fluid" src="../static/img/Ponentes/MirtaFlores.png"></figure>
                    <h4 class="bold">Mirta Flores</h4>
                    <h5 class="light">Universidad Autónoma de Yucatán</h5>
                 
                    <div class="rsSpeakers">
                        <a href="#" target="_blank"><img class="img-fluid" src="../static/img/sharing-files.png"></a>
                    </div>
                </div>
                
                 <div class="singleSpeaker">
                    <figure><img class="img-fluid" src="../static/img/Ponentes/AlejandraDominguez.png"></figure>
                    <h4 class="bold">Dra. Alejandra Domínguez Espinosa</h4>
                    <h5 class="light">Directora del Departamento de Psicología IBERO</h5>
                 
                    <div class="rsSpeakers">
                        <a href="#" target="_blank"><img class="img-fluid" src="../static/img/sharing-files.png"></a>
                    </div>
                </div>
                
                 <div class="singleSpeaker">
                    <figure><img class="img-fluid" src="../static/img/Ponentes/LuisFelipeGarcia.png"></figure>
                    <h4 class="bold">Luis Felipe García y Barragán</h4>
                    <h5 class="light">Universidad de Guanajuato</h5>
                 
                    <div class="rsSpeakers">
                        <a href="#" target="_blank"><img class="img-fluid" src="../static/img/sharing-files.png"></a>
                    </div>
                </div>
                
                 <div class="singleSpeaker">
                    <figure><img class="img-fluid" src="../static/img/Ponentes/DoloresAlbarracin.png"></figure>
                    <h4 class="bold">Dolores Albarracín</h4>
                    <h5 class="light">University of Illinois Urbana-Champaign</h5>
                 
                    <div class="rsSpeakers">
                        <a href="#" target="_blank"><img class="img-fluid" src="../static/img/sharing-files.png"></a>
                    </div>
                </div>
                                    <div class="singleSpeaker">
                    <figure><img class="img-fluid" src="../static/img/Ponentes/MirtaFlores.png"></figure>
                    <h4 class="bold">Mirta Flores</h4>
                    <h5 class="light">Universidad Autónoma de Yucatán</h5>
                 
                    <div class="rsSpeakers">
                        <a href="#" target="_blank"><img class="img-fluid" src="../static/img/sharing-files.png"></a>
                    </div>
                </div>
                
                 <div class="singleSpeaker">
                    <figure><img class="img-fluid" src="../static/img/Ponentes/AlejandraDominguez.png"></figure>
                    <h4 class="bold">Dra. Alejandra Domínguez Espinosa</h4>
                    <h5 class="light">Directora del Departamento de Psicología IBERO</h5>
                 
                    <div class="rsSpeakers">
                        <a href="#" target="_blank"><img class="img-fluid" src="../static/img/sharing-files.png"></a>
                    </div>
                </div>
                
                 <div class="singleSpeaker">
                    <figure><img class="img-fluid" src="../static/img/Ponentes/LuisFelipeGarcia.png"></figure>
                    <h4 class="bold">Luis Felipe García y Barragán</h4>
                    <h5 class="light">Universidad de Guanajuato</h5>
                 
                    <div class="rsSpeakers">
                        <a href="#" target="_blank"><img class="img-fluid" src="../static/img/sharing-files.png"></a>
                    </div>
                </div>
                
                 <div class="singleSpeaker">
                    <figure><img class="img-fluid" src="../static/img/Ponentes/DoloresAlbarracin.png"></figure>
                    <h4 class="bold">Dolores Albarracín</h4>
                    <h5 class="light">University of Illinois Urbana-Champaign</h5>
                 
                    <div class="rsSpeakers">
                        <a href="#" target="_blank"><img class="img-fluid" src="../static/img/sharing-files.png"></a>
                    </div>
                </div>

               </div>

           
            </div>



    
    
    
    
    
    
    
    
    
    
    
    
   
    
    
</body>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>